<h2>Product Details</h2>
<div *ngIf="product">
  <h3>{{ product.name }}</h3>
  <h4>{{ product.price | currency }}</h4>
  <p>{{ product.description }}</p>
  <!--
    <form name="buyForm" #buyForm="ngForm">
    <input type="number" name="quantity"
    [(ngModel)]="quantity" #mQuantity="ngModel"
    required />
    <p [hidden]="mQuantity.pristine || mQuantity.valid">必填</p>
    </form>
    <pre>{{buyForm.value | json}}</pre>
  -->
  <form name="buyForm" [formGroup]="form">
    <input type="number" name="quantity"
    formControlName="quantity" />
  </form>
  <pre>{{quantity.errors | json}}</pre>
  <button (click)="addToCart(product)">Buy</button>
</div>
